{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Holaaa</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quos voluptate deleniti iste eaque vitae iure, minima consectetur alias quibusdam accusantium. Dolore tempore laborum nihil debitis modi quo fuga beatae.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/wall_clinica_rodolfo.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}